<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        body {
            background-color: darkslategray;
            color: lightgray
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div th:if="${ not#lists.isEmpty(messages)}">
    <table>
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Age</th>
        </tr>
        <tr th:each="user : ${messages}">
            <td th:text="${user}"></td>
            <td th:text="${user}"></td>
            <td th:text="${user}"></td>
        </tr>
    </table>
</div>
</body>
</html>